<div class="nested-fields">
  <%= f.text_field :synonyme %>
    <div class="iconsActions">
    <%= link_to_remove_association f do %>
      <i class="fas fa-minus-circle"></i>
    <% end %>
  </div>
</div>
