<div class="wrapper-blue wrapper-index">
  <h2 class="white light">Bienvenue sur le dictionnaire <span class="orange bold">coréen</span></h2>
  <h2 class="white light"><span class="orange bold">한불사전</span>에 오실 것을 환영합니다</h2>
</div>
<%= render 'shared/searchbar' %>
<div class="white-flex-wrapper">
  <div class="blue-rectangle">
    <h3>Mot aléatoire</h3>
    <hr class= "hrthick">
    <% mot_aleatoire = Word.all.sample(1).first %>
    <h3><%= link_to mot_aleatoire.word, kor_word_path(id: mot_aleatoire.word) %></h3>
  </div>
  <div class="blue-rectangle">
    <h3>Recherches fréquentes</h3>
    <hr class= "hrthick">
    <% frequents = Word.order('click DESC').limit(10) %>
    <% frequents.each do |freq_word| %>
      <h3><%= link_to freq_word.word, kor_word_path(id: freq_word.word) %></h3>
      <% unless freq_word == frequents.last %>
        <hr>
      <% end %>
    <% end %>
  </div>
</div>
