.orange {
  color: $orange;
}
.white {
  color: white;
}
.wrapper-blue {
  background-color: $blue;
  height: 60vh;
  text-align: center;
  margin: 0 auto;
  padding: 30px;
}
.title {
  font-family: montserrat;
  font-weight: bold;
  font-size: 100px;
  margin-top: -20px;
  margin-bottom: -20px;
  width: 100%;
}
.title1 {
  width: 90%;
  margin-left: 3%;
}
.title2 {
  width: 90%;
  margin-left: 8%;
}
.subtitle {
  padding: 40px;
  font-style: roboto;
  font-weight: bold;
}
.text-home {
  width: 70vw;
  margin: 0 auto;
}
.btn-home {
  width: 50%;
  text-align: center;
  background-color: white;
  padding-top: 22px;
  border: $blue solid 1px;
  padding-bottom: 13px;
  &:hover{
    text-decoration: none;
  }
}
.blue {
  color: $blue;
}
.btn-row {
  height: 50%;
  display: flex;
}
.buttons-home {
  height: 34vh;
  width: 100%;
}
.opacity {
  opacity: 0.7;
}
.row {
  min-width: 100%;
  max-width: 100%;
}
@media only screen and (max-width: 600px) {
  .btn-row {
  display: flex;
  flex-direction: column;
  }
  .btn-home {
    width: 100%;
    min-height: 20vh;
  }
  .wrapper-blue {
    height: 70vh;
  }
  .text-home {
    width: 90vw;
  }
  .buttons-home {
    height: auto;
  }
}
