.wrapper-index {
  height: 30vh;
  padding: 20px 0%;
  h2 {
    padding: 20px;
  }
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: bold;
}

.searchbar-wrapper {
  text-align: center;
  padding: 30px;

  .fas {
    margin-right: 20px !important;
  }

  form{
    display:flex;
    margin: 0 auto;
    width: 40%;
    align-items: center;
  }

  .searchbar {
    border-radius: 5px;
    width: 100%;
    background-color: white;
    color: $blue;
    font-size: 20px;
    font-family: montserrat;
    font-weight: 300;
  }

  button {
    border: 0;
    background-color: transparent;
  }
}
.white-flex-wrapper {
  display:flex;
  .blue-rectangle {
    border-radius: 0px 0px 20px 20px;
    width: 40%;
    &:first-child {
      max-height: 200px;
    }
  }
}
.recherche-freq {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 240px;
}
.autocomplete-suggestions {
    text-align: left;
    cursor: default;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    box-shadow: -1px 1px 3px rgba(0,0,0,.1);
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

@media only screen and (max-width: 715px) {
  .searchbar-wrapper {
    form {
      width: 90%
    }

  }
}
@media only screen and (max-width: 500px) {
  .white-flex-wrapper {
  display:block;
    .blue-rectangle {
      width: 90%;
      &:first-child {
        border-radius: 0px;
        margin-bottom: 20px;
      }
    }
  }
  .wrapper-index {
    height: 45vh;
  }
}
