<div class="footer">
  <div>
    <h4 class="white">NicoDico© 2019</h4>
  </div>
  <div class="list">
    <%= link_to 'À propos', about_path %>
    <%= link_to 'Conditions générales', cg_path %>
  </div>
</div>
