<div class="searchbar-wrapper">
  <% if params[:search_error] %>
    <h4><%= params[:search_error].html_safe %></h4>
  <% end %>
  <%= form_tag dict_search_path(@dict.lang), method: :post, class:"searchform" do %>
    <%= text_field_tag :search_word, nil , class: "searchbar", placeholder: "Chercher un mot" %>
    <%= button_tag :submit do %>
      <i class='fas fa-search fa-2x'></i>
    <% end %>
  <% end %>
</div>
