<p class="natureSelect"></p>
  <div class="flex-around">
    <%= f.input :nature_fr, collection: @nat.map{|n| n = n.nat_fr }, label: "Nature français"%>
    <%= f.input :nature_cb, collection: @nat.map{|n| n = n.nat_cb }, input_html: {readonly: :true}, label: "Nature cible" %>

    <%#= f.input :nature_fr, collection: ["Nom commun", "Verbe transitif", "Verbe intransitif", "Nom propre", "Préposition", "Suffixe", "Adjectif", "Pronom", "Conjonction", "Particule", "Compteur", "Adverbe", "Préfixe", "Interjection", "Onomatopée", "Nom verbal", "Verbe trans-intransitif" ], label: "Nature français"%>
    <%#= f.input :nature_cb, collection: ["명사", "타동사", "자동사", "고유명사", "전치사", "접미사", "형용사", "대명사", "접속사", "조사", "양수사", " 부사", "접두사 ", "감탄사 ", "의성어 ", "하다 동사 ", "타자동사" ], input_html: {readonly: :true}, label: "Nature cible" %>
  </div>
