<p class="hidden dict_name" style="font-size:0px"><%= @dict.lang %></p>
<span style="display: flex; align-items: baseline">
<input type="text" id="autocomplete-drop" list="json-datalist" placeholder="Un mot">
<datalist id="json-datalist">
  <% words.sort.each do |word| %>
    <option value="<%= word.word %>">
    </option>
  <% end %>
</datalist>
  <button id="submit_autocomplete" style ="padding-left: 10px">Chercher</button>
  <h6 style ="padding-left: 10px"><%= words.length %> mots</h6>
</span>
