<div class="has-many-form">
  <div class="iconsActions">
    <br>
    <%= link_to_add_association  ff, table ,partial: partial do %>
      <i class="fas fa-plus-circle fa-2x clickMe"></i>
    <% end %>
    <i class="fas fa-minus-circle fa-2x lessHasMany"></i>
  </div>
</div>
