<div class="new-wrapper">
  <div class="word-show JSmedaddy">
    <h4>Japonais</h4>
    <h4>Coréen</h4>
    <h4>Chinois-s.</h4>
    <h4>Chinois-t.</h4>
  </div>
  <div class="blue-rectangle">
    <div class="nuancemot">
      <h4 class="blue">Ajouter un mot</h4>
      <h4 class="blue">Ajouter une nuance</h4>
    </div>
    <hr class="hrthick">
    <div class="kor-form">
      <%= render 'kor_form'  %>
    </div>
  </div>
</div>
