<div class="show-wrapper">
  <div class="word-show rectangle">
    <div class="middle-header">
      <h1>À propos</h1>
    </div>
  </div>
  <div class="nuances-wrapper">
    <div class="blue-rectangle nuance-box" style="padding: 60px;">
      <p>Lorsqu’il a réalisé son dictionnaire, Émile Littré avait réalisé une prouesse linguistique pour l’époque. Il ne fut cependant jamais seul dans son œuvre qui lui imposait de récolter tous les mots de la langue française pour les compiler en plusieurs volumes (et  à présent en un seul site Internet). <br>Pour l’aider dans sa tâche, il était en effet de nombreux compilateurs qui l’aidèrent à rassembler les mots, les exemples, mais aussi à vérifier leur véracité et justesse. <br>Ce dictionnaire en ligne, NicoDico, prend ainsi exemple sur le travail de Littré sans toutefois se piquer d’être l’œuvre gigantesque d’une seule personne, et devenant ainsi une plateforme semi-collaborative où chaque utilisateur peut suggérer des mots, faire part d’une erreur qui se serait glissée dans les entrées, partager ses expériences et faire vivre la communauté toujours grandissante d’apprenants en japonais, chinois, coréen. <br>Une langue évoluant par ailleurs constamment, elle exige du dictionnaire qui la compile qu’il soit à jour à la même fréquence que son changement. J’ai de ce fait voulu créer un dictionnaire extrêmement clair et simple d’emploi, le plus personnalisable possible par chaque apprenant, et représentatif d’une communauté d’apprenants en chinois, japonais, coréen qui n’avait longtemps pas pu apprendre la langue ou les langues qu’elle aimait dans sa langue maternelle, le français. <br>Mais ce n’est pas tout : un dictionnaire de langues étrangères traduites vers le français représente également un travail linguistique considérable en français ; par conséquent, ce dictionnaire est également enrichi par de nombreuses expressions et vocables français qui font toute la richesse de notre langue. <br>C’est sur ces principes et la frustration (disons-le !) de nombreuses années de n’avoir pu obtenir des réponses directement en français - car il fallait trop souvent passer par l’anglais -, qu’est né NicoDico. <br>J’espère qu’il sera grandement apprécié et enrichi par tout apprenant le souhaitant.  
      <br>
      <br>
        Nicolas Bruneteau 
        <br>
        Avril 2019
        <br>
        <br>
      <i>
        « Mais qui peut espérer de clore jamais un dictionnaire de langue vivante ? » 
      </i>
      <br>Émile Littré</p>
    </div>
  </div>
</div>
