<div class="show-wrapper">
  <div class="word-show rectangle">
    <div class="middle-header">
      <h2>Politique de confidentialité en vigueur sur NicoDico
</h2>
    </div>
  </div>
  <div class="nuances-wrapper">
    <div class="blue-rectangle nuance-box special-h3" style="padding: 60px;">
      <p>
        Mis en ligne le : 01/05/2019 
        <br>
        En vigueur depuis le : 01/05/2019
      </p>
      <h3>
        1) Définitions 
      </h3>
      <p>
        NicoDico est un dictionnaire japonais, chinois (traditionnel et simplifié), coréen vers le français et vice versa. Ce dictionnaire est une œuvre littéraire numérique possédant des phrases exemples bilingues et des fonctionnalités inédites pour les utilisateurs.
        <br>
        <b> Propriétaire & directeur de publication : </b>Nicolas Bruneteau — nicobruneteau@hotmail.com 
        <br>
        <b>
          Siège social :
        </b>103 rue de Javel, 75015 Paris, micro entreprise — SIRET 831 926 662 00014 
      </p>
      <h3>
        2) Mentions imposées par la loi de confiance dans l’économie numérique et objet du site 
      </h3>
      <p>
        NicoDico suit le RPGD (règlement général sur la protection des données) de l’Union Européenne et ne collecte ainsi pas de données sans l’avis de l’utilisateur. <br> Lien ci-dessous vers le document officiel : 
        <br>
        <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX%3A32016R0679">https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX%3A32016R0679
        </a>
      </p>
      <h3>
        3) Caractéristiques des produits et services proposés
      </h3>
      <p>NicoDico propose des traductions et des phrases exemples bilingues, et un service d’ajout de mots de vocabulaire « Mon Carnet ». </p>
      <h3>4) Tarifs </h3>
      <p>L’utilisation de NicoDico est gratuite, qu’elle soit à titre privé ou à titre professionnel. NicoDico autorise l’utilisation des entrées de ses dictionnaires à des fins non commerciales. Toute utilisation commerciale du dictionnaire devra faire l’objet d’un accord préalablement écrit et validé par l’auteur du dictionnaire.</p>
      <h3>5) Espace membre </h3>
      <p>NicoDico demande une adresse e-mail et un mot de passe lors de l’inscription d’un membre. Pour l’inscription avec Facebook, se référer aux conditions d’utilisations de Facebook. Un espace profil sera également mis à disposition des membres sur le forum. Ce dernier comprendra une photo de profil, une description du membre, un niveau sur le forum, les langues apprises, ainsi que son pseudo.</p>
      <h3>6) Exonération de la responsabilité de l’éditeur dans le cadre de l’exécution du présent contrat </h3>
      <p>
        L’auteur de NicoDico n’est en aucun cas responsable d’une utilisation contraire aux lois et aux principes fondateurs du site ou de tout commentaire diffamant ou insultant publié sur son forum ou sur une autre plateforme.
      </p>
      <h3>7) Limitation géographique d’utilisation </h3>
      <p>NicoDico est disponible dans tous les pays du monde disposant d’une connexion à Internet et n’étant pas régis par une censure particulière.</p>
      <h3>8) Droits de propriété intellectuelle relatifs aux éléments publiés sur le présent site  </h3>
      <p>
        NicoDico crée ses phrases exemples originales et bilingues relues au fur et à mesure par des locuteurs natifs de ces langues. Les phrases exemples n’appartenant pas au domaine publique et donc dépourvues de mentions concernant leur source sont la propriété stricte de NicoDico. 
        <br>
        Il est permis d’utiliser ces phrases exemples à titre privé ou professionnel dans un but non commercial. Toute utilisation commerciale du dictionnaire devra faire l’objet d’un accord écrit préalable par l’auteur du dictionnaire.
      </p>
      <h3>9) Contribution des internautes au contenu du site </h3>
      <p>
 Les internautes peuvent contribuer à NicoDico via le bouton « Suggérer un mot| Faire part d’une erreur ». Avant publication de leurs suggestions celles-ci seront vérifiées par l’administrateur pour s’assurer de leur qualité linguistique et de leur respect de la propriété intellectuelle et des principes fondateurs du site.
      </p>
      <h3>10) Droits d’auteur </h3>
      <p>
        NicoDico est un dictionnaire déposé auprès de la SGDL. Ci-dessous le lien du certificat : 
        <br>
        <a href="https://cleo-sgdl.com/Certificat-cleo.aspx?ident=39172&codeacces=wS2Sy%40aLO6">https://cleo-sgdl.com/Certificat-cleo.aspx?ident=39172&codeacces=wS2Sy%40aLO6</a>
      </p>
      <h3>11) Limitation de responsabilité </h3>
      <p>
        NicoDico propose des phrases exemples bilingues et des traductions relues au fur et à mesure par des locuteurs natifs, et n’est en aucun cas responsable de l’utilisation de son contenu par des individus mal intentionnés, ni sur des sites tiers. NicoDico invite les utilisateurs à signaler toute infraction aux règles ci-dessus via le bouton «Suggérer un mot| Faire part d’une erreur ». 
      </p>
      <h3>12) Accès au site </h3>
      <p>
        NicoDico est disponible en libre accès et ne demande aucun frais pour s’y connecter ou l’utiliser.

      </p>
      <h3>13) Fermeture de compte </h3>
      <p>
 Toute fermeture de compte doit être signalée à l’administrateur via l’adresse e-mail ci-dessous. 
        <br>
        nicobruneteau@hotmail.com

      </p>
      <h3>14) Droit applicable et règlement des conflits
</h3>
      <p>
        Seuls le droit français (et notamment les articles L.122-5 et L.335-2 et suivants du Code de la propriété intellectuelle) et le droit européen en vigueur en France sont applicables en cas de difficultés quelconques dans l’utilisation de NicoDico ou dans l’interprétation ou l’exécution des présentes conditions. <br>
        <br>
Les cours et tribunaux de Paris sont seuls compétents en cas de conflit, sauf le cas échéant, la médiation légalement prévue par le droit français conformément au droit européen.
      </p>
      <h3>15) Utilisation de Cookies </h3>
      <p>
        NicoDico accorde une grande importance à la vie privée de ses utilisateurs.
        <br><br>
En cliquant sur le bouton « s’inscrire avec Facebook », l’utilisateur accepte de partager ses données avec le réseau social Facebook et doit se référer aux conditions d’utilisation de Facebook.

      </p>
    </div>
  </div>
</div>
