<% render "shared/navbar" %>
<div class="wrapper-blue">
  <div class="text-home">
    <h3 class="white subtitle">Bienvenue sur</h3>
    <h1 class ="white title title1">Nico</h1>
    <h1 class="orange title title2"> Dico</h1>
    <h3 class="white subtitle">Un dictionnaire forgé avec passion ! </h3>
  </div>
</div>
  <div class="buttons-home">
    <div class="btn-row">
      <div class="btn-home">
        <h2 class="blue">Japonais – Français</h2>
        <h3 class="blue opacity">日仏辞典</h3>
      </div>
      <%= link_to kor_word_index_path, class:"btn-home" do %>
        <h2 class="blue">Coréen – Français</h2>
        <h3 class="blue opacity">한불사전</h3>
      <% end %>
    </div>
    <div class="btn-row">
      <div class="btn-home">
        <h2 class="blue">Chinois simplifié – Français</h2>
        <h3 class="blue opacity">中法辞典（简体中文）</h3>
      </div>
      <div class="btn-home">
          <h2 class="blue">Chinois traditionnel – Français</h2>
          <h3 class="blue opacity">中法辭典（繁體中文）</h3>
      </div>
    </div>
  </div>
