<div class="wrapper-blue wrapper-index">
  <h1 class="white light">Bienvenue sur le dictionnaire <span class="orange bold">coréen</span></h1>
  <h1 class="white light"><span class="orange bold">한불사전</span>에 오실 것을 환영합니다</h1>
</div>
<%= render 'shared/searchbar' %>
<div class="white-flex-wrapper">
  <div class="blue-rectangle">

  </div>
  <div class="blue-rectangle">

  </div>
</div>
