.addlist_popup {
  width: 30vw;
  background: $orange;
  z-index: -1;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
  position: absolute;
  text-align: center;
  display: none;
  top: 10px;
  left: 15vw;
  box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.75);
  h4 {
    color:white
  }
}

.showPopup {
  z-index : 2;
  display: block;
}

