.navbar-lewagon {
  background: $orange;
  height: 50px;
  display: flex;
  align-items:center;
  box-shadow: 0px 5px 20px -7px rgba(16,37,91,1);
  h2 {
    font-family: roboto;
    font-weight: bold;
    margin: 0 auto;
    display: inline-block;
    a{
      color: $blue;
    }
  }
  a:hover {
    text-decoration:none;
  }
}
.box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 100%;
}
.box:first-child {
  justify-content: left;
  position: relative;
  h4{
    position: absolute;
    margin-right: auto;
    margin-bottom: 0px;
    padding: 0px;
    height: 100%;
    bottom: -4px;
  }
}

.box:last-child  {
  position: relative;
  i {
    position:absolute;
    margin-right: auto;
    padding: 0px;
    margin: 0px;
    right: 0px;
    height: 100%;
    cursor: pointer;
  }
}

.blue-dd {
  color: $blue;
}
.white-dd {
  color: white;
}
.white-nav {
  background-color:white
}
.stick-left {
  position: absolute;
  left: 40px;
  height: 50px;
  width: 50px;
}
.dropdown-toggle::after {
    display:none;
}
.dropdown-menu {
  position: absolute;
  right: 10px;
  left: auto;
}

.no-hover:hover {
  color: white;
}
