.navbar-lewagon {
  text-align: center;
  background: white;
  height: 50px;
  display: block;
  h2 {
    font-family: roboto;
    font-weight: bold;
    color: $blue;
    margin: 0 auto;
    display: inline-block;
  }
}

 i {
  position: absolute;
  right: 50px;
  color: $blue;
  border: 0;
 }
.dropdown-toggle::after {
    display:none;
}
.dropdown-menu {
  position: absolute;
  right: 10px;
  left: auto;
}
